@media screen and (min-width: 700px) {

    .header-container {
        padding: 1.5rem 2rem;
    }

    header h2 {
        font-size: 2rem;
    }

    #menu {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        margin-top: -2.2rem;
    }

    nav a {
        padding: 0.7rem 1rem;
    }

    main {
        padding: 2rem;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .temple-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    figure img {
        height: 230px;
    }
}