@media screen and (min-width: 700px) {

    #menu {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        margin-top: -2rem;
    }

    nav a {
        padding: 0.6rem 1rem;
    }

    .temple-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    figure img {
        height: 220px;
    }
}